.section {
  @apply my-64;
}
.entry-header {
  @apply bg-light;
  padding: 4rem 0;
  h1, h2 {
    @apply font-black;
    font-size: 4rem;
    line-height: 6rem;
  }
  p{
    font-size: 1.8rem
  }
}


a.cs-checkout-button,
#place_order {
  @apply block mb-10 text-center text-white uppercase font-bold py-6 px-8 bg-dark;
  font-size: 1.8rem;
}
#place_order {
  width: 100%;
  margin: 20px 0 0;
}

.content {
  h2 {
    @apply font-medium;
    font-size: 2.6rem;
    line-height: 3.7rem;
    margin: 30px 0 15px;
  }
  h3 {
    font-size: 2.2rem;
    line-height: 3.7rem;
    margin: 20px 0 15px;
  }
  p, li, blockquote{
    font-size: 1.8rem;
    line-height: 3.7rem;
    margin-bottom: 20px;
  }
  li {
    @apply relative pl-10 mb-2;
    &:before {
       content: '';
       @apply absolute left-0;
       height: 16px;
      top: 9px;
       width: 16px;
       background: url("../images/bi_check.svg") no-repeat center/cover;
       background-size: 100%;
     }
  }
  blockquote {
    font-size: 2rem;
    @apply relative pl-20;
      &:before {
        content: '';
        @apply absolute top-0 left-0;
      height: 30px;
      width: 30px;
        background: url("../images/quote.svg") no-repeat center/cover;
        background-size: 100%;
      }
  }
}
a {
  &.more {
    font-size: 1.8rem;
    line-height: 4rem;
    @apply font-bold border-b border-dark inline-block pb-3 mt-12;
    border-color: rgb(85 74 71/var(--tw-text-opacity));
  }
}
hr {
  @apply border-gray-300;
}
.cs-header-page {
  padding-top: 10rem;
  padding-bottom: 8rem;
  @apply bg-light;
  h1  {
    margin-bottom: 3rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 3.3rem;
  }
}
.page-title {
  font-size: 4rem;
  line-height: 6rem;
  @apply font-black;
}
form {
  .select2-container--default .select2-selection--single {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    height: 40px;
  }
}
.woocommerce-notices-wrapper {
  z-index: 11;
  @apply relative;
  .cs-notice {
    @apply px-4 py-5 rounded-sm bg-light mb-4;
    font-size: 1.8rem
  }
}
.cs-single-content {
  .woocommerce-notices-wrapper {
    .cs-notice {
      @apply bg-blue-100 text-dark;
    }
  }
}

.woocommerce .button {
  &.wc-forward {
    @apply bg-primary text-white uppercase font-semibold rounded-full;
  }
}

input, textarea{
  &.input-text  {
  padding: 0 1.5rem;
    height: 4rem;
    background-color: #F5F5F5;
    border-radius: 0;
  }
}
textarea {
  height: 10rem;
}
label {
  color: #554A47;
  font-size: 1.6rem;
  @apply font-medium;
}
